html {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

h2 {
  margin-bottom: 15px;
  font-family: var(--font-accent);
  font-size: 22px;
  font-weight: 400;
  color: var(--page-bg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0 auto;
}

