:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'IBM Plex Sans', sans-serif;
  --font-accent: 'IBM Plex Serif', serif;

  --page-bg: #f3f3f3;
  --text-color: #444444;
  --accent: #ae9065;
  --accent-light: #e6d3ac;
  --wars: #f0270d;
  --wars-light: #f15a46;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

