.header {
  padding: 10px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  &__welcome {
    padding-left: 15px;
    font-family: var(--font-accent);
    font-size: 20px;
    font-weight: 600;
    color: var(--accent);
  }
}

.login {
  display: flex;

  &__input {
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    border: none;
    border-radius: 10rem;
    color: inherit;
    border: 1px solid #e6d3ac;
    transition: all 0.3s;
  }
}

.login__input:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.login__input::placeholder {
  color: rgb(105, 105, 105);
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: var(--accent);
}
