.operation {
  border-radius: 1rem;
  padding: 15px;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #547202, #b7d433);
}

.operation--loan {
  background-image: linear-gradient(to top left, #068394, #40dad2);
}

.operation--close {
  background-image: linear-gradient(to top left, #e93c07, #d36c71);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 18px;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: var(--accent);
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

